{{extend 'layout.html'}}
<h3>Baadal Leaks</h3>
{{if not errors:}}
    <center> Chill out, No Errors.</center>
{{else:}}
{{
from operator import itemgetter
errors = sorted(errors, key=itemgetter('type')) 
}}
    <table>
      <tr>
        <th>Error</th>
        <th>Type</th>
        <th>Last Seen</th>
        <th>Status</th>
      </tr>
      {{for error in errors:}}
          <tr>
            <td>{{=error.error}}</td>
            <td>{{=error.type}}</td>
	    <td>{{=error.error_date}}</td>
            <td>{{=error.status}},
		{{if error.status==0:}}
			<a href="{{=URL(request.application,'admin','fixed_error',args=[error.id])}}">Fixed?</a>
		{{pass}}
            </td>
          </tr>
      {{pass}}
    </table>
{{pass}}
