{{extend 'layout.html'}}
{{if (isFaculty(auth.user.username) or isModerator(auth.user.username)):}}
<h3>Requests Pending for your Approval</h3>
{{if (not pending_requests):}}
    <center> No pending requests</center>
    {{else:}}
    <table>
      <tr>
        <th>User ID</th>
        <th>VM Name</th>
        <th>RAM~HDD ~vCPUs</th>
        <th>Faculty</th>
        <th>Status</th>
	<th>Isclone?</th>
        <th>Request Date</th>
      </tr> 
      {{for pending_request in pending_requests:}}
          {{if pending_request.status==1:}}
               <tr style='background-color:#EEF;'>
          {{else:}}
               <tr>
              {{pass}}
            <td>{{=fullname(pending_request.userid.username)}} ({{=pending_request.userid.username}})</td>
            <td>{{=pending_request.vmname}}</td>
            <td>{{=pending_request.RAM}}~{{=pending_request.HDD}}~{{=pending_request.vCPUs}}</td>
            <td>{{=fullname(pending_request.faculty)}}</td>
           <td>
            {{queue = db((db.queue.task == "install") & (db.queue.status==0)).select(db.queue.parameters)
            status=False
            for task in queue :}}
                {{if (pending_request.vmname == task['parameters'].split("|")[2]):}}
                    {{status=True}}
                {{pass}}
            {{pass}}
            {{if status == False :}}
                {{if(isModerator(auth.user.username) and (pending_request.status == 0)):}}
                      {{=A('Remind Faculty',_href=URL(r=request,f='mailToGUI',args=[pending_request.faculty,"Reminder to approve the virtual machine","This is an automated mail from Baadal to remind you to approve the virtual machine request initiated by your student. If no action is taken the request will be rejected in 3 days."]))}}
                       &nbsp;|&nbsp;
                      {{=A('Reject',_href=URL(r=request,f='reject_request',args=[pending_request.id]))}}
               {{else:}}
                      {{=A('Approve',_href=URL(r=request,f='approve_request_details',args=[pending_request.id]))}}
                      &nbsp;|&nbsp;
                      {{=A('Reject',_href=URL(r=request,f='reject_request',args=[pending_request.id]))}}
                {{pass}}
            {{else:}}
                {{=IMG(_src=URL('static','images/loading.gif'),_alt='Installation in Progress',_height=18)}}
            {{pass}}
            </td>
 	        <td>{{if(pending_request.cloneparentname==None):}}
                Not Clone
                {{else:}}
                {{=pending_request.cloneparentname}}</td>
                {{pass}}
            <td>{{=pending_request.request_date}}</td>
          </tr>
      {{pass}}
    </table>
{{pass}}
{{pass}}
{{pass}}

      {{if not isModerator(auth.user.username):}}
<h3>Your Pending Requests</h3>
{{if not my_pending_requests:}}
    <center>No pending requests</center>
{{else:}}
    <table>
      <tr>
        <th>VM Name</th>
        <th>RAM</th>
        <th>Faculty</th>
        <th>HDD</th>
        <th>vCPUs</th>
        <th>Status</th>
        <th>Request Date</th>
      </tr>
      {{for my_pending_request in my_pending_requests:}}
          <tr>
            <td>{{=my_pending_request.vmname}}</td>
            <td>{{=my_pending_request.RAM}}</td>
            <td>{{=my_pending_request.faculty}}</td>
            <td>{{=my_pending_request.HDD}}</td>
            <td>{{=my_pending_request.vCPUs}}</td>
            <td>
            {{if (my_pending_request.status == 0):}}
            {{=A('Remind Faculty',_href=URL(r=request,f='mailToGUI',args=[my_pending_request.faculty,"Reminder to approve the virtual machine","This is an automated mail from Baadal to remind you to approve the virtual machine request initiated by your student. If no action is taken the request will be rejected in 3 days."]))}}
            {{else:}}
            Request Pending for Admin Approval.
            {{pass}}
            </td>
            <td>{{=my_pending_request.request_date}}</td>
          </tr>
          {{pass}}
      </table>
      {{pass}}
{{pass}}
