{{extend 'layout.html'}}
{{
  if isModerator(auth.user.username):
      moderator = True
  else:
      moderator = False
  pass
  if not vmlist:
}}
  <center>No Orphan VMs running</center>
{{else:}}
  {{if moderator:}}
      <h3>All VMs</h3>
      <table>
      <tr>
        <th>Name</th>
        <th>Host</th>
        <th>State</th>
        <th>Get Details</th>
      </tr>
  {{for vm in vmlist:}}
      <tr>
        <td>{{=vm['name']}}</td>
        <td>{{=vm['host']}}</td>
        <td>{{=vm['state']}}</td>
        <td>
            {{=A(IMG(_src=URL('static','images/on-off.png'), _height=15, _width=15),
                    _href=URL(r=request, f='get_orphan_details', args=[vm['hostid'], vm['name'],vm['state']]), 
                    _title="Get vm details",
                    _alt="Get vm details")}}
        </td>
      </tr>
  {{pass}}
  </table>
  {{else:}}
    Hey buddy, Go away !!
  {{pass}}
{{pass}}
