{{extend 'layout.html'}}
<h3 style="color:red"> It seems like your vm is stuck.</h3>

<table>
	<tr>
		<td><b>IP:</b> {{=ip}}</td>
		<td><b>Port:</b> {{=port}}</td>
	</tr>
</table>

<h4> Follow the steps below patiently</h4>
{{if vmtype=="Windows":}}
<ul>
 <li>Connect using a vnc client at above IP and Port. VNC Clients(Linux: vncviewer, <a href="http://www.realvnc.com/products/vnc/">Windows</a>, <a href="http://www.macupdate.com/app/mac/36208/chicken">MAC</a>)</li>
 <li>If prompted for a vnc password, use 'iitdcloud'</li>
 <li>Most probably your vm has entered in Windows Recovery Mode</li>
 <li>If yes, then click 'Cancel' on the 'Windows Recovery' dialogue box and restart the vm.</li>
 <li>At boot prompt, select "Boot Windows Normally" option and hit enter.</li>
 <li><b>Congrats!!</b>, Your vm should work fine as of now. We recommend you to properly shutdown your vm from inside vm (giving a shutdown command from inside vm) to avoid it in future. Good Luck !!</li>
 <li style="color:red"> It above didn't help you and you are feeling helpless, contact CSC.</li>
</ul>

{{else:}}
<ul>
 <li>Connect using a vnc client at above IP and Port. VNC Clients(Linux: vncviewer, <a href="http://www.realvnc.com/products/vnc/">Windows</a>, <a href="http://www.macupdate.com/app/mac/36208/chicken">MAC</a>)</li>
 <li>If prompted for a vnc password, use 'iitdcloud'</li>
 <li>Most probably your vm is stuck at Grub prompt</li>
 <li>If yes, then simply select the appropriate (default first option) at grub prompt and hit enter.</li>
 <li><b>Congrats!!</b>, Your vm should work fine as of now. We recommend you to properly shutdown your vm from inside vm (giving a shutdown command from inside vm) to avoid it in future. Good Luck !!</li>
 <li style="color:red"> It above didn't help you and you are feeling helpless, contact CSC.</li>
</ul>
{{pass}}

<h5><b>NOTE:</b>
<h6>* You will be able to connect to your vm anytime within next one hour of opening this page. If the problem persists then reopen this page, connect and continue your work.</h6>
<h6>* Click <a href="https://baadal.iitd.ernet.in/cloud/vmuser/disallow_display/{{=vmname}}">here</a> if you have fixed it successfully.</h6>
