{{extend 'layout.html'}}
{{
  import operator
  import itertools
  from IPy import IP

  ipl = [(IP(i['hostip']).int(), i) for i in vmlist]
  ipl.sort()
  vmlist=[ip[1] for ip in ipl]
  #vmlist.sort(key=operator.itemgetter('hostip'))

  list1 = []
  for key, items in itertools.groupby(vmlist, operator.itemgetter('hostip')):
    list1.append(list(items))
  pass
    list2=list1
  if not list1:
}}
  <center>No VM running</center>
{{else:}}
  <h3>Host based VMs | Running VMs</h3>
  {{for list in list1:
    host=list[0]['hostip']
    tram=0
    tcpu=0
    templist=list
    alldown=True
    for vm in templist:
        if(vm['level']!=0):alldown=False
  }}
  {{pass}}
  {{if not alldown:}}
  <table>
    <a href="#" class="button" onclick="javascript:showElement('list-menu')">
    <h3>{{=host}}</h3>
    </a>
    <div id="list-menu" style="display:none;">
      <tr>
        <th>Name</th>
        <th>Owner</th>
        <th>IP</th>
        <th>RAM</th>
        <th>vCPUs</th>
        <th>Level</th>
        <th>Cost</th>
        <th>Settings</th>
      </tr>
      {{for vm in list:}}
          {{(effram,effcpu)=computeeffres(vm['RAM'],vm['vcpus'],vm['level'])
            tram=tram+effram
            tcpu=tcpu+effcpu
          }}
          {{if vm['level']!=0:}}
          <form>
           <tr>
            <td>{{=vm['name']}}</td>
            <td>{{=vm['owner']}}</td>
            <td>{{=vm['ip']}}</td>
            <td>{{=vm['RAM']}}</td>
            <td>{{=vm['vcpus']}}</td>
            <td>{{=vm['level']}}</td>
            <td>{{=round(float(vm['cost']),2)}}</td>
            <td><div id = '{{=vm['name']}}'>
              {{=A(IMG(_src=URL('static','images/settings.png'), _height=15, _width=15),
                    _href=URL(r=request, f='settings', args=[vm['name']]), 
                    _title="Settings", 
                    _alt="Settings")}}   
             <img alt="Operations" title="Operations" src="../static/images/lock.png" height="18" onclick="ajax('{{=URL('dominfo/'+vm['name'])}}', ['{{=vm['name']}}'],'{{=vm['name']}}');"/>
            </div></td>
          </tr>
         </form>
         {{pass}}
  {{pass}}
  </div>
  </table>
     <a style="color:#F00;">{{=host}} has {{=tram}}MB RAM and {{=tcpu}} vCPUs used.</a>
  {{pass}}
{{pass}}
{{pass}}

<hr><hr>
<!--Off VMS-->
  <h3>Host based VMs | Off VMs</h3>
  {{for list in list2:
    host=list[0]['hostip']
    templist=list
    allup=True
    for vm in templist:
        if(vm['level']==0):allup=False
  }}
  {{pass}}
  {{if not allup:}}
  <table>
    <a href="#" class="button" onclick="javascript:showElement('list-menu')">
    <h3>{{=host}}</h3>
    </a>
    <div id="list-menu" style="display:none;">
      <tr>
        <th>Name</th>
        <th>Owner</th>
        <th>IP</th>
        <th>RAM</th>
        <th>vCPUs</th>
        <th>Level</th>
        <th>Cost</th>
        <th>Settings</th>
      </tr>
      {{for vm in list:}}
          {{if vm['level']==0:}}
          <form>
           <tr>
            <td>{{=vm['name']}}</td>
            <td>{{=vm['owner']}}</td>
            <td>{{=vm['ip']}}</td>
            <td>{{=vm['RAM']}}</td>
            <td>{{=vm['vcpus']}}</td>
            <td>{{=vm['level']}}</td>
            <td>{{=round(float(vm['cost']),2)}}</td>
            <td><div id = '{{=vm['name']}}'>
              {{=A(IMG(_src=URL('static','images/settings.png'), _height=15, _width=15),
                    _href=URL(r=request, f='settings', args=[vm['name']]), 
                    _title="Settings", 
                    _alt="Settings")}}   
             <img alt="Operations" title="Operations" src="../static/images/lock.png" height="18" onclick="ajax('{{=URL('dominfo/'+vm['name'])}}', ['{{=vm['name']}}'],'{{=vm['name']}}');"/>
            </div></td>
          </tr>
         </form>
         {{pass}}
  {{pass}}
  </div>
  </table>
  {{pass}}
{{pass}}
{{pass}}
