{{extend 'layout.html'}}
{{
  if isModerator(auth.user.username):
      moderator = True
  else:
      moderator = False
  pass
  if not vmlist:
}}
  <center>No VM running</center>
{{else:}}
  {{if moderator:}}
      <h3>All VMs</h3>
  {{else:}}
      <h3>My VMs</h3>
  {{pass}}
  <table>
      <tr>
        <th>Name</th>
        <th>Owner</th>
      {{if moderator:}}
        <th>Host</th>
      {{pass}}
        <th>RAM</th>
	<th>vCPUs</th>
        <th>Level</th>
	<th>Cost</th>
        <th>Settings</th>
      </tr>
  {{for vm in vmlist:}}
      <tr>
        <td>{{=vm['name']}}</td>
        <td>{{=vm['owner']}}</td>
      {{if moderator:}}
        <td>{{=vm['hostip']}}</td>
      {{pass}}
        <td>{{=vm['RAM']}}</td>
	<td>{{=vm['vcpus']}}</td>
        <td>{{=vm['level']}}</td>
        <td>{{=vm['cost']}}</td>
        <td>
          {{=A(IMG(_src=URL('static','images/settings.png'), _height=15, _width=15),
                _href=URL(r=request, f='settings', args=[vm['name']]), 
                _title="Settings", 
                _alt="Settings")}} 
        </td>
      </tr>
  {{pass}}
  </table>
{{pass}}
