{{extend 'layout.html'}}
<div id="content_top">
<p>Baadal is a management and orchestration software for the IITD private
cloud for high performance computing based on:
<ul>
<li>32 blade servers each with 2x6 core Intel(R) Xeon(R) CPU X5670  @ 2.93GHz and 16 GB RAM.</li>
<li>16 blade servers each with 2x4 core Intel(R) Xeon(R) CPU E5540  @ 2.53GHz and 12 GB RAM.</li>
<li>A 10Gbps ethernet backbone.</li>
<li>50 TB of virtualized storage based on a NetApp 3210V NAS and HP EVA6400 SAN with FC disks.</li>
<li>Open source virtualization technology based on KVM. It can also support
other popular virtualization technologies like Xen and VmWare.</li>
</ul>
</p>

Some of the main features of Baadal are:
<ul>
<li>Dynamic resource scheduling and power management.</li>
<li>An integrated work flow system for request and comissioning of virtual machines.</li>
<li>Facilities for <i>suspend</i>, <i>resume</i>, <i>shutdown</i>, <i>power off</i>, <i>power on</i> and <i>specifying resource requirement</i> of virtual machines.</li>
<li>Dynamic resource utilization monitoring.</li>
<li>A notional cost model for VM resources.</li>
</ul>
</p>
</div>
